<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Edit Personal Info</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= locals.error %>
        </div>     
      <% } %>

    <div class="container mt-4">
        <img src="<%= user.profileImageURL %>" alt="Image" style="width: 125px; height: 100px;">
        <p><%= user.fullName %></p>
        <p><%= user.email %></p>
    </div>
    
    <div class="container mt-3" >
        <form action="/edit/checkpassword" method = "post" >
            <div class="mb-3">
                <label for="password" class="form-label"></label>
                <input type="text"
                placeholder="old password" 
                required
                class="form-control" 
                id="password" 
                name="password" 
                aria-describedby="password">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
             </div>

        </form>
    </div>
   
    <%- include('./partials/scripts') %>
</body>
</html>