<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Edit Personal Info</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <img src="<%= user.profileImageURL %>" alt="Image" style="width: 500px; height: 500px;">
        <p><%= user.fullName %></p>
        <p><%= user.email %></p>
    </div>
    
    
   
    <%- include('./partials/scripts') %>
</body>
</html>